BOT_TOKEN=8640174691:AAGPmiXVHxJnat9gHGsUBaEab0hPsyE13Xw
BOT_USERNAME=AnonkaBot34bot
CRYPTOBOT_TOKEN=543615:AAEUVnLPOYGnEc0gR93BpjsaDiql8TkSY6G
CHANNEL_LINK=https://t.me/+Dn7pNdHVYPM4ODgx
CHANNEL_ID=-1003707313473
ANON_CHAT_LINK=https://t.me/anonaskbot?start=f21rnoq